body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: ;
  background: linear-gradient(45deg,#00ABFFEB,#1C00FFEB,#FF0000D4);
  z-index:1 ;
  
  
}

.box_1{
  height: 130px;
  width: 50px;
  background: linear-gradient(30deg,#C400FF,#6300FF);
  position: absolute;
  z-index: 1;
  animation: gg 6s infinite linear;
}


@keyframes gg{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}


.box_2{
  top: 5vh;
  left: 38vw;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: #000000;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(104, 247, 255, 1);
  box-shadow: 5px 5px 10px rgba(31, 203, 255, 1);
  z-index:5;
  
}


.box_3{
  height: 90px;
  background-size: cover;
  background-image: url("ayu.jpg");
  width: 90px;
  background-color: rgba(51, 0, 224, 1);
  border-radius: 100px;
  border: 1px solid rgba(12, 141, 255, 1);
  position:;
  z-index: 6;
  box-shadow: -1px -1px 20px rgba(205, 113, 255, 1) inset;
}




.name_bar{
  left: vw;
  height: 4vh;
  width: 310px;
  position: relative ;
  border: 1px solid rgba(104, 247, 255, 1);
  top: 9vh;
  left: 10%;
  background-color: black;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  box-shadow: 5px 5px 10px rgba(31, 203, 255, 1);
}


.inner_nb{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.1vh;
  position: relative;
  width: 300px;
  background-color: #000000;
  border-radius: 20px;
  z-index: 5;
}


.inner_anim{
  width: 300px;
  position: absolute;
  height: 300px;
  background: linear-gradient(90deg,#B002FF,#1600A7,#09FFFD);
  animation: yy 1s linear infinite ;
  z-index: 5;
}


@keyframes yy{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}

.zone{
  color: #3BC2FF;
  position: relative;
  text-shadow: 0.5px 0.5px 20px #66EBFF;
  z-index: 4;
  animation: qq 10s infinite linear;
}

@keyframes qq{
  0%{
    color: #3BC2FF;
  }
  100%{
    color: #FF00DE;
  }
}


 .info_box{
  height: 60vh;
  width: 95vw;
  position: relative;
  background-color:#000000 ;
  top: 11vh;
  margin-left: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8AF0FF;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 5px 5px 10px rgba(31, 203, 255, 1);
  overflow: hidden;
  
}
.a_1{
  height: 2000px;
  width: 100px;
  position: absolute;
    background: linear-gradient(90deg,#71EEFF,#AC008A);
  animation: a1 4s linear infinite;
}

@keyframes a1{
  0%{
    transform: rotate(90deg)
  }
  100%{
    transform: rotate(450deg)
  }
}

.a_2 {
  height: 2000px;
  position: relative;
  width: 100px;
  background: linear-gradient(90deg, #2E004C,#63EDFF,#FF00CD);
  animation: a2 4s linear infinite;
  z-index: 6;
}


@keyframes a2{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}


.w_plate{
  height: 58vh;
  width: 92vw;
  border: 1px solid #80E3FF;
  background-image: url("go.png");
  background-size: cover;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 30px;
  background-color: #00000000;
  position: absolute;
  z-index: 7;
  box-shadow: 5px 5px 10px rgba(31, 203, 255, 1) inset;
}


.wellcome{
  
  width: 350px;
  height: 30px;
  background-color: #7AFFF0;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2vh;
  left: 1vw;
  box-shadow: 10px 10px 20px rgba(31, 203, 255, 1);
  z-index: 10;
  animation: wc 0.5s linear infinite;
}

@keyframes wc{
  0%{
    box-shadow: 5px 5px 10px rgba(31, 203, 255, 1)inset;
  }
  100%{
    box-shadow: -5px -5px 10px rgba(244, 31, 255, 1) inset;
  }
}



.wellcome_1{
  width: 348px;
  height: 26px;
  background-color: #000000;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 30px;
  position: relative;
  z-index: ;
  display: flex;
  justify-content: center;
  align-items: center;
}


.wlc{
  color: #8B11FF;
  animation: w_c 5s linear infinite;
}


@keyframes w_c{
  0%{
    color: #8B11FF;
  }
  25%{
    color: rgba(6, 255, 153, 1);
  }
  50%{
    color: rgba(255, 6, 148, 1);
  }
  75%{
    rgba(213, 255, 6, 1);
  }
  100%{
    color: #50DAFF;
  }
}


.buttons{
  margin-left: 2%;
  position: relative;
  height: 25%;
  width: 100%;
  background: #56FF8E00;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
  
  
}


.tap{
  transition: 5s;
  border: 1px solid #AFFEFF;
  box-shadow: 5px 5px 10px #93EDFF  ;
  display: flex;
  align-items: center;
  justify-content: center;
  position: ;
  margin-top:;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background: linear-gradient(45deg,#60FF8E,#5AB5FF,#FF2AC5);
  z-index: 10;
  
}


.tap:hover{
  transition: 5s;
  height: 40px;
  width: 40px;
  background: linear-gradient(45deg,#60FFF7,#FF5AFD,#FF2A2A);
  box-shadow: 5px 5px 10px #FF93FC  ;
}


.tap:hover~.anim{
  transition: 1s;
  width: 70%;
  height: 60%;
  background: linear-gradient(45deg,#60FFF7,#FF5AFD,#FF2A2A);
  color: #57DCFFFA;
  text-shadow: 2px 2px 4px #7B006BFA;
  box-shadow: 1px 1px 5px #000000 inset ;
  box-shadow: 5px 5px 10px #FF93FC  ;
  border: 1px solid #C2FFF8;
}


.anim{
  height: 60%;
  width: 0%;
  position: relative;
  border-radius: 50px;
  background: #54E9FF00;
  transition: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  font-family: sans-serif;
  z-index: ;
  
}


h5{
  color: #B0FEFF;
  text-shadow: 2px 2px 4px #7B006BFA;
  
}